<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/secretsite.css">
</head>
<body>
<main>
  <p>Welcome To The Secret Site!!!</p>
  <div class="container">
    <div>
      <form action="/secret">
        <input type="submit" value="Cool place one"/>
      </form> 
    </div>
    <div>
      <form action="/secret">
        <input type="submit" value="Cool place two"/>
      </form> 
    </div>
  </div>
</main>
</body>
</html>